body { 
    background-color:lightgray ;
}

.cabecalho {
    padding: 10px;
    background-color: lightslategrey;
} 

 .cabecalho .logo {
    display: inline-block;
    color: lightgoldenrodyellow;
    transition: 0.3s ease-in-out;
} 

.cabecalho .logo:hover{
    background-color:lightseagreen;
    padding: 7px;
    
}

 .cabecalho .naveg {
    float: right;
} 

.cabecalho .naveg .menu li {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
} 

 .cabecalho .naveg .menu a {
    font-size: 18px;
    color: lightgoldenrodyellow;
    transition: 0.3s ease-in-out;
}  

.cabecalho .naveg .menu a:hover{
    background-color: lightseagreen;
    padding: 12px;
    color: #111;
    font-weight: 400;
} 

.conteudo-principal {
   background-color: #fff;
   padding: 30px;
   max-width: 900px;
   min-width: 320px;
   margin: 0 auto;
} 

 .conteudo-principal .info {
    font-size: 16px;
} 

.conteudo-principal .painel .info .titulo{
    margin-bottom: 10px;
}

 .conteudo-principal .painel .info .texto {
    font-size: 17px;
    line-height: 1.5;
    padding: 10px;
} 

 @media (max-width: 576px) {
    .cabecalho {
        text-align: center;
    }

    .cabecalho .naveg {
        float: none;
    }

    .cabecalho .naveg .menu li {
        display: block;
    }

    .conteudo-principal{
        text-align: center;
    }
} 